SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_account@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=your_account@gmail.com
FROM_FRIENDLY_NAME=Szelektív hulladék
SMTP_USE_TLS=true

LOG_LEVEL=INFO
